<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">
    <meta name="og:description" content="Terms of Service and Privacy Policy for Paradise Bot List" />
    <meta name="og:image" content="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" />
    <meta name="og:title" content="Paradise Bot List | Legal" />
    <meta name="theme-color" content="#758acf" />
    <meta name="keywords" content="discordbots.org , top.gg, Discordbots.co , Bots , bot list , paradisebots.net, discord bot list , discord boats , blaze , lists, discord bots , discord bots list">
    <meta property="og:description" content="Terms of Service and Privacy Policy for Paradise Bot List" />
    <meta name="og:image" content="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" />
    <meta name="theme-color" content="#758acf" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Paradise Bot List | Terms</title>
</head>
<body>
  <%- include("../partials/header", { bot, user, path, }) %>
  <%- include("../partials/TOC") %>

<center>

<h1>Legal Information</h1>
<div class="terms_card">
<h2>Contents</h2>
<ul>
<li><a href="#terms">1. Terms of Service</a></li>
<li><a href="#privacy">2. Privacy Policy</a></li>
   </ul>
 </div>
<br><br><br>
<h1 id="terms">Terms of Service</h1>
<div class="terms_card">
<div id="card" class="container">
       <!-- Example row of columns -->
       <div class="row">
         <div class="col-md-4">
	<p>
    • By accessing the Paradise Bot List website, you are agreeing to be bound by these Terms of Service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.
<br><br>
     • If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
<br><br>
     • This website is not for use by those under 13 years of age, and Paradise Bots does not knowingly store information from children under 13.
<br><br> 
     • Paradise Bot List is not associated with or affiliated with <a href="https://discord.com/">Discord</a>
</p>
        </div>
      </div>
    </div> 
   <br>
<br>
<hr style="color: #fc7b03">
<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">

<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Intellectual Property</h2>
<p>
This website and its original content, features, and functionality are owned by Paradise Bots and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws. 
<br>
All data generated and shared by Paradise Bots in the past, present, or future is property of Paradise Bot List and it's sole owners and must be transferred, removed, or changed on request.
</p>
     </div>
   </div>
</div>
<hr>

<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Restrictions</h2>
<p>
You are expressly and emphatically restricted from all of the following:
</p>
<br>
	<ol>
        <li style="color: white;">modifying or copying any website material;</li>
<br>
	<li style="color: white;">selling, sublicensing and/or otherwise commercializing any website material;</li>
<br>
	<li style="color: white;">attempting to decompile or reverse engineer any software contained on this website;</li>
<br>
        <li style="color: white;">removing any copyright or other proprietary notations from website materials;</li>
<br>
       <li style="color: white;">transferring website materials to another person or "mirroring" the materials on any other server;</li>
<br>
        <li style="color: white;">using this website in any way that is, or may be, damaging to this website;</li>
<br>
        <li style="color: white;">using this website in any way that impacts user access to this website;</li>
<br>
        <li style="color: white;">using this website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the website, or to any person or business entity;</li>
<br>
        <li style="color: white;">engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this website, or while using this website;</li>
<br>
        <li style="color: white;">using this website to engage in any advertising or marketing without permission from Paradise Bots or our advertising partners;</li>
	</ol>
  </div>
 </div>
</div>
 <br>
<hr>

<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Your Content</h2>
	<p>
In these Terms of Service, "Your Content" shall mean any audio, video, text, images, or other material you choose to submit to this website. With respect to Your Content, by submitting it, you grant Paradise Bots a non-exclusive, worldwide, irrevocable, royalty-free, sublicensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media. Your Content must be your own and must not be infringing on any third party’s rights. Paradise Bots reserves the right to remove any of Your Content from this website at any time, and for any reason, without notice.
  </p>
  </div>
 </div>
</div>
 <br>
<hr>
<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Termination</h2>
	<p>
We may terminate your access to the website, without cause or notice, which may result in the destruction of all information associated with your account. All provisions of this agreement that, by their nature, should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
  </p>
        </div>
      </div>
    </div>
<br>
<hr>
<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>No Warranties</h2>
	<p>
 This website is provided "as is" with no warranty or liability for any outcomes of using the website and/or any content you may or may not interact with on the website, and you agree that Paradise Bots is not liable for any events in the past, in current times, or in the future. Paradise Bots is not responsible and will not take responsibility for the behavior of other parties using the website.
  </p>
        </div>
      </div>
    </div>
<br>
<hr>

<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Limitation of Liability</h2>
	<p>
In no event shall Paradise Bots, nor any of its representatives, be liable to you for anything arising out of or in any way connected with your use of this website, whether such liability is under contract, tort or otherwise, and Paradise Bots, including its representatives, shall not be liable for any indirect, consequential, or special liability arising out of or in any way related to your use of this Website.
  </p>
        </div>
      </div>
    </div>
 <br>
<hr>

<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Accuracy of Materials</h2>
	<p>
The materials appearing on Paradise Bot List's website could include technical, typographical, or photographic errors. Paradise Bots does not warrant that any of the materials on its website are accurate, complete, or current. Paradise Bots and its users may make changes to the materials contained on the website at any time without notice. However, Paradise Bots does not make any commitment to update the materials.
  </p>
 <br>
<hr>

<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Links</h2>
<p>
This website contains links to many other websites not controlled by Paradise Bots. Paradise Bots is not responsible for the contents or behavior of such linked websites. The inclusion of links on this website does not imply endorsement by Paradise Bots. Any use of linked websites is done at the user's own risk.
</p>
  </div>
 </div>
</div>
 <br>
<hr>

<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
 <center><h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Modifications</h2></center>
	<p>
Paradise Bots may revise these Terms of Service at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
  </p>
  </div>
 </div>
</div>
 <br>
<hr>

<div id="card" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
 <center><h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Governing Law</h2></center>
	<p>
These terms and conditions are governed by and construed in accordance with the laws of Canada and you irrevocably submit to the exclusive jurisdiction of the courts in that Country.
  </p>
  </div>
 </div>
</div>
 <br>
<hr>
<h2>Credit & Contact Information</h2>
	<p>This Terms and conditions page was last modified on: <strong>26/09/2020.<strong> 
            <br><br>
           If you have any queries regarding any of our terms, please contact us.
        </p>		
        </div>
      </div>
    </div>
</div>
<br><br><br>

<h1 id="privacy">Privacy Policy</h1>

<div class="terms_card">
<div id="cards" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<p style="color: white;">
Paradise Bots LLC. and its affiliates (‘’Paradise Bots’’, ’’PBL’’, ’’Paradise Bot List ’’, ‘’paradisebots.net’’, "us", "our" or "we") are dedicated to protecting the privacy rights of our users ("users" or "you").  This Privacy Policy (the "Policy") describes the ways we collect, store, use, and manage the information, including personal information, that you provide or we collect in connection with our websites, including paradisebots.net, and docs.paradisebots.net (the "Sites") or any PBL website(s) provided on a mobile platform (for example, iOS and Android) (collectively, the "Service").
<br><br> 
Please note that the scope of this Policy is limited to information collected or received by paradisebots.net through your use of the Service.  
<br><br>
PBL is not responsible for the actions of third party people or companies, the content of their sites, the use of information you provide to them, or any products or services they may offer.  
<br><br>
Any link to those sites does not constitute our sponsorship of, or affiliation with, those people or companies.
<br><br>
If you have additional questions or require more information about our Privacy Policy, please contact an admin on our <a href="https://paradisebots.net/join">Discord Server</a> or <a href="mailto:support@paradisebots.net?subject="Legal Support"">Email Us</a>
</p>
</div>
</div>
</div> 
<br>
<br> 
<hr>

<div id="cards" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Stored Data</h2>
<p>
Paradise Bots uses Discord for authentication in place of having our own accounts. Because of this we store information about your Discord account in our secure databases.
<br><br>
This information includes all data authorized by the user through Discord's OAuth consent page. For users with no created content this data will be deleted after a few days of inactivity. 
<br><br>
While logged in to the website, any account-linked action you perform, such as reviewing a bot, will be stored with a reference to your Discord ID. Additionally, any data you submit to Paradise Bot List, 
<br><br>
such as through bot pages, lists, or reviews, will be stored and displayed on the site until deleted by the user or a moderator.
</p>
</div>
</div>
</div> 
<br>
<hr> 

 <div id="cards" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Anonymous Tracking</h2>
<p>
To analyze user behavior and improve our website we anonymously track some actions and send the data to <a href="https://www.datadoghq.com/">DataDog</a>. 
<br>
This data is not stored on our servers and contains no personally identifiable information.
</p>
</div>
</div>
</div>
<br>
<hr>

<div id="cards" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Third-Party Tracking</h2>
<p>
Paradise Bots uses Google Analytics to analyze use of the site. Google Analytics uses cookies and collects usage data. You may view their privacy policy <a href="https://policies.google.com/privacy?hl=en">here</a> and opt-out with their tool <a href="https://tools.google.com/dlpage/gaoptout?hl=en">here</a>.
<br><br>
Paradise Bots also also uses Yandex Metrica to analyze use of the site. They use cookies to track how users engage with the website. You may view their privacy policy <a href="https://yandex.com/legal/confidential/">here</a> and opt-out using their extension <a href="https://yandex.com/support/metrica/general/opt-out.html">here</a>.
</p>
</div>
</div>
</div> 
<br>
<hr> 

<div id="cards" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4"> 
 <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Log Files</h2>
	<p>
Paradise Bots follows a standard procedure of using log files. These files log visitors when they visit websites. The information collected by log files includes internet protocol (IP) addresses, browser type, date and time stamp, and referring/exit pages. The purpose of this information is for administering the website.  
</p>
</div>
</div>
</div> 
<br>
<hr> 

<div id="cards" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4"> 
<h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Cookies</h2>
	<p>
 Paradise Bots uses cookies to store information about users. These cookies store the session identifier for logged in users. This is used for authentication on the website and links you to your Discord data.
  </p>
</div>
</div>
</div> 
<br>
<hr> 

<div id="cards" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4"> 
 <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Advertising Partners</h2>
	<p>
Third-party ad servers or ad networks use technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Paradise Bot List, which are sent directly to user's browsers. 
<br>
They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.
<br>
<strong>Note that Paradise Bots has no access to or control over these cookies that are used by third-party advertisers.</strong>
  </p>
   </div>
 </div>
</div> 
<br>
<hr> 

<div id="cards" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4"> 
    <h2><i class="fa fa-fw fa-gavel" aria-hidden="true"></i>Consent</h2>
  <p>
     By using our website, you hereby consent to our Privacy Policy.
  </p>
      </div>
    </div>
  </div> 
 <br>
<hr> 

<h2>Credit & Contact Information</h2>
	<p>This Privacy page was last modified on: <strong>02/09/2020.</strong>
        <br><br> 
        If you have any queries regarding any of our policys, please <a href="mailto:support@paradisebots.net?subject="Legal Support"">Email Us</a></p>		
        </div>
      </div>
    </div>
  </div>
</center>
<br><br><br><br><br><br>
<%- include("../partials/footer") %>
</body>
</html>

