<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta charset="UTF-8">
    <meta name="og:description" content="Paradise Bot List sitemap." />
    <meta name="og:image" content="https://i.imgur.com/Df2seyl.png" />
    <meta name="og:title" content="Paradise Bot List | Sitemap" />
    <meta name="theme-color" content="#758acf" />
    <meta name="keywords" content="discordbots.org , top.gg, Discordbots.co , Bots , bot list , paradisebots.net, discord bot list , discord boats , blaze , lists, discord bots , discord bots list">
    <meta property="og:description" content="Paradise Bot List sitemap." />
    <meta name="og:image" content="https://i.imgur.com/Df2seyl.png" />
    <meta name="theme-color" content="#758acf" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: center;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>

  <title>Paradise Bot List - Sitemap</title>
</head>
<body>
<%- include("../partials/header", { bot, path, user }) %>
<br><br><br><br><br><br>
<center><h2 style="Color: #758acf";>Paradise Bots Sitemap</h2></center>
<hr>
<center>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Home Page</h3>
      <p>Last Update: <code>09/28/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Server Rules</h3>
      <p>Last Update: <code>09/26/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/serverrules">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Bot Rules</h3>
      <p>Last Update: <code>09/29/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/botrules">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Terms of Service</h3>
      <p>Last Update: <code>09/26/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/terms">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Privacy Policy</h3>
      <p>Last Update: <code>09/26/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/privacy">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Staff Page</h3>
      <p>Last Update: <code>09/27/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/staff">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Partners Page</h3>
      <p>Last Update: <code>09/26/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/partners">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Bots Page</h3>
      <p>Last Update: <code>09/27/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/bots">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Search Page</h3>
      <p>Last Update: <code>09/27/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/search=Galaxy">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Staff Applications</h3>
      <p>Last Update: <code>09/24/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/apps/staff">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Partner Applications</h3>
      <p>Last Update: <code>09/24/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/apps/partner">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Bug Reports</h3>
      <p>Last Update: <code>09/20/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/bug">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Staff Panel</h3>
      <p>Last Update: <code>09/24/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Join Page</h3>
      <p>Last Update: <code>09/25/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/join">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Profile Page</h3>
      <p>Last Update: <code>09/10/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Apps Page</h3>
      <p>Last Update: <code>09/10/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Add Bot Page</h3>
      <p>Last Update: <code>09/25/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Edit Bot Page</h3>
      <p>Last Update: <code>09/25/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Resubmit Bot Page</h3>
      <p>Last Update: <code>09/25/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Bot Page</h3>
      <p>Last Update: <code>09/28/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/bot/727779650738323497">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>404 Page</h3>
      <p>Last Update: <code>09/25/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/error">View Page</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>500 Page</h3>
      <p>Last Update: <code>09/25/2020</code></p>
      <p>Version: <code>2.20-Beta</code></p>
      <a href="https://paradisebots.net/500">View Page</a>
    </div>
  </div>
</div>
</center>
<br><br><br><br><br><br>
<%- include("../partials/footer", { bot, path, user }) %>
</body>
</html>
