<html>
<footer>
  <div class="footer_container">
    <center>
    <img class="footer_logo">
     </center>
   </div>

    <div class="container">
    <div style="margin: 30px;">
        <strong style="color: white;">Support</strong>
        <ul>
            <li style="color: white;"><a href="https://discord.gg/h7WUxBN">Our Discord</a></li>
            <li style="color: white;"><a href="mailto:support@paradisebots.net">E-Mail Us</a></li>
            <li style="color: white;"><a href="https://status.paradisebots.net">Status Page</a></li>
            <li style="color: white;"><a href="https://docs.paradisebots.net/changelog/">Change Log</a></li>
            <li style="color: white;"><a href="/api/v1/docs">API Docs</a></li>
            <li style="color: white;"><a href="/https://docs.paradisebots.net">Paradise Docs</a></li>
        </ul>
        </div>
        <br>
        <div style="margin: 30px;">
        <strong style="color: white;">Community</strong>
        <ul>
            <li style="color: white;"><a href="/staff">Our Staff</a></li>
            <li style="color: white;"><a href="/apps">Applicatons</a></li>
        </ul>
        </div>
        <br>
        <div style="margin: 30px;">
        <strong style="color: white;">Legal</strong>
        <ul>
            <li style="color: white;"><a href="/legal">Terms & Privacy</a></li>
        </ul>
        </div>
        <br>
        <div style="margin: 30px;">
        <strong style="color: white;">Social Media</strong>
        <ul>
         <li style="color: white;"><a href="https://twitter.com/ParadiseBotList"><i class="fa fa-twitter"></i></a></li>
         <li style="color: white;"><a href="https://github.com/ParadiseBotList"><i class="fa fa-github"></i></a></li>
        </ul>
        </div>
     </div>
   </div>

  <hr style="margin-left: 150px; margin-right: 150px;">

     <center>
     <div id="google_translate_element"></div>
     <script type="text/javascript">

       function googleTranslateElementInit() {
         new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }

      function getCookie(cname) {
         var name = cname + "=";
         var ca = document.cookie.split(';');
        
      for(var i = 0; i < ca.length; i++) {
         var c = ca[i];

      while (c.charAt(0) == ' ') {
         c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
     }
   }
     return "";
  }
 </script>

     <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

     </center>

     <br>
         <center><p style="color: white;"> © 2020 Paradise Bot List</p></center>
         <center><p style="color: white;">Credits: Made with ❤️ by <a href="https://twitter.com/TheRealToxicDev">Toxic Dev</a> & Dexter#7797</p></center>
    </div>​
  </footer>
</html>
