<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Internal Server Error</title>
</head>
<body>
    <%- include("../partials/header", { bot, user, path, }) %>
<br><br><br><br><br><br>

<center>
<h1 style="font-size: 200px; color:#fc7b03"><strong>500</strong></h1>
<br>
<h2>Okay, We don't know what happened but you should <strong>NEVER</strong> recieve this error</h2>
<br>
<p>Please visit our <a href="/join">Discord Server</a> And contact a Developer<br><br><strong>NOTE:</strong> We may ask you for steps to reproduce this error.</p>

</center>

<br><br><br><br><br><br>
<%- include("../partials/footer") %>
</body>
</html>
