<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Paradise Bot List - 404</title>
</head>
<body>
    <%- include("../partials/header", { bot, user, path }) %>
<br><br><br><br><br><br>

<center>

<h1 style="font-size: 200px; color:#fc7b03">
<strong>404</strong>
</h1>

<h3>We don't know where you're trying to go here but that page doesn't exist!!🤪 Maybe you should <a href="/">Go Back Home</a></h3>

</center>

<br><br><br><br><br><br>
<%- include("../partials/footer") %>
</body>
</html>
