<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="0;URL= https://trello.com/b/9IF0vswN/paradise-bot-list" />

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta charset="UTF-8">
    <meta name="og:description" content="Follow our Development Road Map" />
    <meta name="og:image" content="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" />
    <meta name="og:title" content="Paradise Bot List | Trello" />
    <meta name="theme-color" content="#758acf" />
    <meta name="keywords" content="discordbots.org , top.gg, Discordbots.co , Bots , bot list , paradisebots.net, discord bot list , discord boats , blaze , lists, discord bots , discord bots list">
    <meta property="og:description" content="Follow our Development Road Map" />
    <meta name="og:image" content="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" />
    <meta name="theme-color" content="#758acf" />
    <%- include("./partials/header", { bot, user, path, }) %>
     <title>Follow our Development Road Map</title>
    </head>
     <body>
<br><br><br><br><br><br>
     <center>
      <h1>Re-directing...</h1>
       <br>
       <p>You are being re-directed, if nothing happens, please <a href="https://trello.com/b/9IF0vswN/paradise-bot-list"> follow this link</a></p>
    
     </center>
<br><br><br><br><br><br>
    <%- include("./partials/footer") %>
   </body>
</html> 
